# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.OnlinePlatformsSteam.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\USER\Desktop\OnlinePlatforms-master\.idea\.idea.OnlinePlatformsSteam\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
